#tag
{
    /* border:2px solid black; */
    height:30px;
    width:17%;
    margin-left:1%;
    float:left;
    margin-top:5px
}
#tag >span:hover{
    font-size:40px;
}
span
{
    
    font-size:35px
}
#search
{
    border:2px solid black;
    height:30px;
    width:40%;
    margin-left:13%;
    float:left;
    margin-top:9px

}
#search > select{
    height:30px;
    width:100%
}
#sign{
    float:left;
    margin-top:9px;
    margin-left:14%
}
.in
{
    font-size:25px;
    
}
a{
    text-decoration: none;
    color:white
}
#bar
{
    height:150px;
    margin-top:2%;
    width:100%;
    background-color:bisque;
   
}
.name
{
    border-left:3px solid black;
    height:149px;
    width:10%;
    margin-left:30%;
    float:left
    

}
.name1
{
    height:149px;
    
    float:left
    
}
.video
{
    width:100%;
    height:200px;
    border:1px solid black;
    z-index: 1;
}
.bg_size
{
    
    width:100%;
    min-width:100%;
    height:200px;
    background-size: cover;
    

}
#category
{
    
    height:500px;
    width:100%;

}
#subcategory
{
   
    height:370px;
    width:90%;
    margin:auto
}
.sub
{
    /* border:1px solid black; */
    height:150px;
    width:25%;
    margin-left:5%;
    margin-top:2%;
    animation-name: demo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   
    
    
    float:left
}
.sub > img 
{
    width:100%;
    height:149px;
    border-radius: 20%;
    box-shadow: 10px 20px 10px black;

}
.sub >img:hover
{
   height:160px;
   
    
}
/* .sub:hover{
    transform:skew(10deg,10deg)

} */

@keyframes demo{
    0%{transform: skew(5deg,5deg);}
    25%{transform: skew(20deg,10deg);}
    50%{transform: skew(10deg,20deg);}
    75%{transform: skew(20deg,10deg);}
    100%{transform: skew(10deg,20deg);}
}

#icon
{
    border:1px solid black;
    height:50px;
    width:100%;
}
body{
    margin:auto
}