body{
    margin:auto;   
}

/* header
#header{
       background-color:#9e9e9e4f;
      
       width:100%;
       height:60px;
       
}
#menubar{
    
    float:left;
    margin-left:1%;
    margin-top:1%;
}
.menu{
    width: 35px;
    height: 5px;
   
    background-color: black;
    margin: 6px 0;
    display:block;
    
}
#name{
    margin-left:2%;
       
    color:black;
    float:left;
    font-size:52px;
    font-weight: bold;
       
}
#sign{
    float:right;
    margin-right:25px;
       
    color:black;
    font-weight:bold;
    font-size:25px;
    margin-top:1%;
}
#sign:hover{
    font-size:35px
} */
/* Heading */
.headingText{
    text-align:center;
    font-size:30px;
    font-weight: bold;
    margin-top:1%;
}
.headingText:hover{
    font-size:40px

}
/* All content  */
#content{
    display: inline-block;
    width:80%;
    margin-left:10%;
    background-color:auto;
    
}
/* Filter */
#filterDiv{
    height:629px;
    width:20%;
    border:10px groove gray;
    float: left;
    box-shadow: 3px 9px 10px grey;
}
 #fil{
     text-align:center;
     

}
.inpur{
    font-size:16px
}
#sort{
    font-size:18px;
    font-family:cursive;
    font-weight:bold;

}
/* Content */
#contentDiv{
    height:700px;
    width:75%;
    margin-left: 2%;
    
    float: left;
}
.content1{
    height:211px;
    width:80%;
    
    display:block;
    margin-left:10%;
    margin-top:2%;
    box-shadow:2px 7px 19px gray;
    border-radius:16px;

}
.content1:hover{
    transform:scale(1.1)
}
.subcontent1
{
    width:50%;
    height:198px;
   
    
    float:left;

}
.subcontent1 >img{
    width:100%;
    height:211px;
    border-radius:17px;
}
.subcontent{
    float:left;
}

.head{
    font-size:25px;
    color:blue;
    font-weight:bold;
    font-family:cursive;
    margin-left:1%;
}
.subcontent2{
    
    display: inline-block;
    margin-left: 2%;
    height: 99%;
    line-height: 1;
}
.subcontent2 > p {
    
    font-weight:bold;
    margin-top:5%;
    color:black

}
/* Star */
.checked{
    color:orange;
}

h1,h2,h3{
    text-align: center;
}
/* Footer */
#footer{
    background-color:#9e9e9e5c;
    
    width:100%;
    height:190px;
    display:inline-block;
}
.vl{
    border-right: 2px solid black;
    height: 182px;
    width:33%;
    
    float:left;
    
}
.footerlast{
    text-align:center;
}
.noborder{
    border:none;
}
.slogo{
   
    height:43px;
    width:5%;
    
    margin-top:1%;
    margin-left:22%;
    
}
.vl > p{
    text-align:center;
}
a{
    text-decoration: none;
}
/* Navigation bar */
.bgcolor{
    background-color:#9e9e9e4f
}
.ibar{
    height:10px;
    width:1%
}
.tagi{
    font-size:30px
}
.navbar{
    margin-bottom:0px !important
}
@media screen and (max-width:1260px)
{
    #content{
        margin-left:5%;
    }
    .content1{
        width: 110%;
    }
    #filterDiv{
        height:636px;
    }
    .inpur {
        font-size: 12px;
    }
}
@media screen and (max-width:920px)
{
    #filterDiv{
        width:23%;
    }
    .head{
        font-size: 21px;
    }
    .subcontent2 > p {
        font-size:13px;
    }
    .slogo {
        height: 67px;
        width: 9%;
        margin-top: 1%;
        margin-left: 18%;
    }
}
@media screen and (max-width:800px)
{
    .subcontent2 > p {
        font-size: 11px;
    }
    .head {
        font-size: 17px;
    }
    .inpur {
        font-size: 12px;
        font-weight: bold;
    }
    #filterDiv {
        width: 28%;
        height: 89%;
    
    }
    .subcontent2{
        margin-top: 3%;
    }
    #content {
        margin-left: 1%;
    }
    #contentDiv{
        margin-left: -6%;
    }
    .content1 {
        width: 127%;
    }
}
@media screen and (max-width:610px)
{
    .content1 {
        width: 162%;
    }
    #filterDiv {
        width: 121%;
        height: 77%;
    }
}
@media screen and (max-width:500px)
{
    
}